/* Big tablet to 1200px (width smaller that the 1140px row) */
@media only screen and (max-width: 1200px) {
    .hero-text-box{
        width: 100%;
        padding: 0 2%;
    }
    .row { padding: 0 2%; }
}


/* Small tablet to big tablet: from 768 to 1023px */
@media only screen and (max-width: 1023px) {
    body { font-size: 18px; }
    section { padding: 80px 10px; }
    
    .main-nav li a:hover,
    .main-nav li a:active {
        padding-bottom: 8px;
        border-bottom: 2px solid #e8494e;
    }
    .main-div{
        position: relative;
        width: 80%;
        height: 75%;
        top: 10%;
        left: 10%;
    }
    .skill-title {
        font-size: 90%;
        line-height: 145%;
        font-weight: 700;
        width: 200px;
        padding: 10px 0;
    }

    .main-div #left {
        height: 70%;
        width: 30%;
        float: left;
        background-color: #fff;
    }

    #left #image {
        margin: 10%;
        height: 80%;
        background-image: url(img/dhruv.jpg);
        background-size: cover;
        background-position: center;

    }


    #right {
        float: left;
        height: 70%;
        width: 65%;
        background-color: #fff;
    }

    .main-div #bottom {
        clear: both;
        height: 15%;
        width: 95%;
        background-color: #e8494e;
    }

    .skill-value {
        word-spacing: 1px;
    }

}

/* Small phones to small tablet: from 481 to 767px */
@media only screen and (max-width: 767px) {
    body { font-size: 16px; }
    section { padding: 30px 0; }
    .row { padding: 0 4%; }
    .main-nav li {
        margin: 0 15px;
    }
    .main-nav li a:link,
    .main-nav li a:visited {
      font-size: 70%;
      font-weight: 500;
    }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 517px) {
    body { font-size: 16px; }
    section { padding: 25px 0;}

    .main-nav li a:link,
    .main-nav li a:visited {
      font-size: 75%;
      font-weight: 500;
    }

    .main-nav li {
        margin: 0 10px;
    }

    .main-div{
        width: 80%;
        height: 75%;
        top: 10%;
        left: 12%;
    }
    .main-div #left {
        height: 0;
        width: 0;
    }

    #right {
        float: left;
        height: 80%;
        width: 95%;
        background-color: #fff;
    }

    .greet {
        background-color: #e8494e;
        color: #fff;
        font-size: 100%;
        font-weight: 700;
        display: inline-block;
        padding: 7px 12px;
        letter-spacing: 2px;
    }

    #right-bottom ul {
        list-style: none;
        margin: 0;
    }

    .social-links li a:link,
    .social-links li a:visited{
        margin: 5px 17px;
        font-size: 130%;
        color: #fff;
    }
    
    .skill-title {
        font-size: 80%;
        line-height: 180%;
        font-weight: 700;
        width: 130px;
        padding: 10px 0;
    }

    .skill-value {
        word-spacing: 1px;
    }


    .panel {
        
        margin-left: 10%;
        width: 80%;
        height:auto;
        border-top: 3px solid #e8494e;
        background-color: #fff;
        padding-left: 30px;
        padding-bottom: 10px;
    }
}


/* Small phones: from 0 to 480px */
@media only screen and (max-width: 420px) {
     body { font-size: 14px; }
    section { padding: 55px 5px;}
     .main-nav li a:link,
    .main-nav li a:visited {
      font-size: 75%;
      font-weight: 500;
    }
    .main-nav li { margin: 0 8px; }

    .main-div{
        width: 80%;
        height: 60%;
        top: 10%;
        left: 12%;
    }
    #right {
        height: 70%;
        width: 95%;
    }
    .greet { margin-bottom: 5px; }
    .social-links li a:link,
    .social-links li a:visited{
        margin: 5px 12px;
        font-size: 130%;
    }
    h1{
        margin: 3% 0;
        font-size: 230%;
    }
    .role { font-size: 100%; }
    #profile { margin: 10% 10% 0 10%; }

    .social-links {
        margin-top: 7%;
    }
}